@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$primary-color: #2F80ED;
$darker-color: #000000;
$dark-color: #333333;
$gray-color: #BDBDBD;
$danger-color: #EB5757;

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@import './components/todoList';
@import "./components/addNewTodo";
@import './components/todoApp';
@import './components/header';
@import './components/nav';
@import './components/tab';

