@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$primary-color: #2F80ED;
$darker-color: #000000;
$dark-color: #333333;
$gray-color: #BDBDBD;

@import './components//todoApp.scss';
@import './components//header.scss';
@import './components//nav.scss';
@import "./components/addNewTodo";

